/* Write your CSS code here */
.coin_size {
  height: 60px;
  width: 70px;
  margin-right: 150px;
}
.text {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: normal;
  color: white;
  margin: 20px;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.coin_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
